---
import OfertasMarketing from './OfertasMarketing.astro';
import OfertasDiseno from './OfertasDiseno.astro';
import OfertasDesarrollo from './OfertasDesarrollo.astro';
---

<div id="ofertas-servicios" class="w-full">
  <OfertasMarketing />
  <OfertasDiseno />
  <OfertasDesarrollo />
</div>
