---
import OfertasAudiovisual from './OfertasAudiovisual.astro';
import OfertasFotografia from './OfertasFotografia.astro';
import OfertasRedesSociales from './OfertasRedesSociales.astro';
import OfertasBranding from './OfertasBranding.astro';
import OfertasAsesorias from './OfertasAsesorias.astro';
import OfertasDesarrollo from './OfertasDesarrollo.astro';
---

<div id="ofertas-servicios" class="w-full">
  <OfertasAudiovisual />
  <OfertasFotografia />
  <OfertasRedesSociales />
  <OfertasBranding />
  <OfertasAsesorias />
  <OfertasDesarrollo />
</div>
