---
import { ClientRouter } from 'astro:transitions';
import Header from "../components/global/Header.astro";
import Footer from "../components/global/Footer.astro";

const { title = "Hype", description = "Agencia de marketing digital" } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="/src/styles/global.css" />
		<link rel="icon" type="image/svg+xml" href="/images/logo.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body class="min-h-screen flex flex-col bg-white text-black">
    <Header />

    <main class="flex-1">
      <slot />
    </main>

    <Footer />
  </body>
</html>